.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #ceddef;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #5893d4;
}

p {
  font-size: 2rem;
  color: #1f3c88;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.btn{
width: 60%;
margin: 5% 20%;
height: 100px;
font-size: 20px;
  font-family: 'Lobster', cursive;
font-weight: 500;
color: #070d59;
padding:10px 0;
}

footer {
  margin-top: 5%;
  color: #070d59;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
